:root{
    --color: black;
    --background-color: white;
    --body-copy: 1rem;
    --heading-copy: 2rem;
    --gutter: 2rem
}

body{
    color: var(--background-color);
    color: var(--color);
    font-size: var(--body-copy);
}

@font-face {
font-family: "New-Yorker";
src: url('../fonts/new-yorker-6Y46.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

h1{
    font-size: 3rem;
    font-family: "New-Yorker", sans-serif;
}

#form-button{
    background-color: lightgray;
    padding: .5rem 1rem;
    border-radius: 8px;
}
footer{
    color: var(--color);
    background-color: var(--background-color);
    padding-inline: var(--gutter);
}

/* Media Query for small desktops */
/* I pulled these key breakpoints from https://dev.to/gerryleonugroho/responsive-design-breakpoints-2025-playbook-53ih */
@media (width >= 769px) {

}
/* Media Query for large desktops */
/* I pulled these key breakpoints from https://dev.to/gerryleonugroho/responsive-design-breakpoints-2025-playbook-53ih */
@media (width >= 1025px) {


}
